# MySQL
MYSQL_DATABASE=mesa
MYSQL_ROOT_PASSWORD=troque-esta-senha-root

# API
MESA_CONNECTION_STRING=server=mesadb;Port=3306;database=mesa;user=root;password=troque-esta-senha-root
DEFAULT_ADMIN_NAME=Administrador
DEFAULT_ADMIN_LOGIN=admin
DEFAULT_ADMIN_PASSWORD=troque-esta-senha-admin
DEFAULT_ADMIN_PROFILE=Admin
DEFAULT_ADMIN_UPDATE_ON_STARTUP=false

# ServiceWA
FLASK_SECRET_KEY=troque-esta-secret-key
SERVICEWA_API_BASE_URL=http://mesaapi:5080/api
